# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Nesting engine build artifacts
*.exe
dist/
build/
*.spec
*.pkg
*.toc
*.pyz

# Illustrator Temp Data
ai_nesting/
items.txt
results.txt
export.svg
log.txt
run_nesting.bat

# OS
.DS_Store
Thumbs.db
